<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-info text-white">
        <h2 class="card-title p-2">Card title</h2>
        <div class="p-2">Posted by User on 02/02/2020</div>
    </div>
    <div class="card-body text-center">This is a card</div>
</div>