<div class="d-flex flex-column align-items-center">
    <h2>Login</h2>

    <div class="m-3">
        <form class="login">
            <div class="form-group">
                <label for="emailInput">Email Address</label>
                <input class="form-control" type="email" id="emailInput" placeholder="example@email.com">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input class="form-control" type="password" id="passwordInput" placeholder="********">
            </div>
            <div class="form-group">
                <small id="signUp" class="form-text text-muted mb-2">Not registered? <a href="/signup">Sign up here!</a></small>
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
</div>

<script src="/login.js"></script>