<div class="d-flex flex-column align-items-center">
    <h2>Sign Up</h2>

    <div class="m-3">
        <form>
            <div class="form-group">
                <label for="emailInput">Email Address</label>
                <input class="form-control" type="email" id="emailInput" placeholder="example@email.com">
            </div>
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input class="form-control" type="text" id="usernameInput" placeholder="example@email.com">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input class="form-control" type="password" id="passwordInput" placeholder="********">
            </div>
            <div>
                <small id="signUp" class="form-text text-muted mb-2">Already registered? <a href="/login">Log in here!</a></small>
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
</div>